.logo {
    width: 120px;
    height: 31px;
    background: rgba(16, 16, 16, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
}

::-webkit-scrollbar {
    height: 2px;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #c6c6c6;
}

.avc-msg-item {
    padding: 10px 20px;
    clear: both;
}

.avc-msg-item .inner {
    position: relative
}

.avc-msg-item .inner .manImg {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px
}

.avc-msg-item .inner .contentBox {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    line-height: 23px;
    font-size: 15px;
    word-wrap: break-word;
    word-break: break-all
}

.own-msg .inner {
    padding-left: 52px;
    padding-right: 33px
}

.own-msg .inner .manImg {
    left: 0
}

.buddy-msg {
    float: right
}

.buddy-msg .inner {
    padding-left: 33px;
    padding-right: 52px
}

.buddy-msg .inner .manImg {
    right: 0
}
